label, input, div, h1 {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 400;
}

label {
    font-weight: 600;
    padding-right: 10px;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

strong {
    font-weight: 600;
}

::-ms-clear { 
    display: none;
}

#search {
    width: 460px;
    height: 48px;
    color: #757575;
    background-color: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px;
    background: url('/static/img/search.svg') no-repeat 97%;
    background-size: 24px;
}

#search:hover {
    border-color: #9B9B9B;
    background-color: #FAFAFA;
}

#search_container {
    border: 1px solid #D2D2D2;
    border-top: none;
    box-sizing: border-box;
    border-radius: 4px;
    display: none;
}

.search-icon {
    height: 16px;
    margin: -30px -35px;
    vertical-align: middle;
    font-size: 20px;
}

.focus {
    background-color: #FFFFFF !important;
    border: 1px solid #FF7300 !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(255, 115, 0, 0.2);
    border-radius: 4px;
    outline: none;
    background: url('/static/img/search-focus.svg') no-repeat 97% !important;
    background-size: 24px !important;
}

.searching {
    background: url('/static/img/loading.gif') no-repeat 97% !important;
    background-size: 24px !important;
}

.result-item {
    background-color: #ffffff;
    padding: 17px;
    z-index: 999;
}

.result-item:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.container {
    max-width: 1200px;
    margin: 50px auto 0;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 50px auto 0;
        text-align: left;
    }

    h1 {
        font-size: 2rem;
    }

    #search {
        width: 100%;
    }
}